.about-section{
    margin-top: var(--header-height);
    width: 100%;
    max-width: var(--max-width);
    height: auto;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 2%;
    color: var(--main-color-dark);
}
.author-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--max-width);
    justify-content: center;
    margin-top: 25px;
    
}
.author-info p{
    line-height: 25px;
}
.author-info img{
    border-radius: 100%;
    box-shadow: 2px 4px 5px;
}
.author-info p, .author-info img{
    width: 100%;
    max-width: 500px;
    
}
