.main-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 2%;
    height: auto;
    min-height: 100vh;
    background-image: url('../../../public/Assets/Images/banner-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    color: var(--white);
}
 
.banner-content{
    display: flex;
    position: relative;
    width: 100%;
    max-width: var(--max-width);
    justify-content: flex-start;
}
.left{
    width: 395px;
    height: 246px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20%;
    
}
.left a{
    height: auto;
}
.left a > p{
    background-color: var(--sec-color);
    width: 171px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
   
}
.left h1{
    font-size: 3rem;
}
.left h4{
    font-size: 1.5rem;
} 
.left h5{
    font-size: 1rem;
}
.left > h1, h4, h5{
    height: auto;
}


@keyframes border-run {
    0% {
      transform: translateX(-100%);
      border: 2px solid #007bff;
    }
    100% {
      transform: translateX(100%);
      border: 2px solid transparent;
    }
  }
  @media (max-width: 690px){
    .left{
       align-items: center;
       margin: 0 auto;
    }
    
  }

@media (max-width:390px){
    .left > h1{
        font-size: 1.8rem;
    }
    .left > h4{
        font-size: 1rem;
    }
}
