.banner-skills{
    width: 100%;
    max-width: var(--max-width);
    height: auto;
    text-align: center;
    padding: 15px 2%;
    color: var(--white);

}

.skill-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 50px;
}



.card > h3, p{
    height: auto;
}

@keyframes bounce {
    0% { transform: translateX(0); }
    15% { transform: translateX(-50px); }
    30% { transform: translateX(50px); }
    45% { transform: translateX(-40px); }
    60% { transform: translateX(40px); }
    75% { transform: translateX(-15px); }
    90% { transform: translateX(15px); }
    100% { transform: translateX(0); }
  }
  @media (max-width:400px){
    .banner-skills{
        padding-top:80px;
    }
  }