:root{
    --header-height:90px;
}
header{
    position: fixed;
    top: 0;
    background-color: var(--main-color);
    height: var(--header-height);
    width: 100%;
    padding: 0 2%;
    z-index: 999;
    scroll-behavior: smooth;
    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--max-width);
}
.logo{
    height: auto;
    
}
.logo img{
    height: auto;
    width: 250px;
}
.menu-icon{
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 600px){
    .logo img{
        width: 230px;
    }
    .menu-icon{
        display: block;
        font-size: 2rem;
        color: var(--white);
    }
    nav.menu-desktop{
        display: none;
    }
   
}
@media screen and (max-width: 276px){
    .logo img{
        width: 180px;
    }
}